.success-container {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  /* padding: 20px; */
}

.success-card {
  background: white;
  width: 420px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.1);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.success-card h2 {
  font-size: 28px;
  color: #10b981;
  margin-bottom: 5px;
}

.success-msg {
  color: #4b5563;
  margin-bottom: 25px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e5e7eb;
  font-size: 15px;
}

.info-row strong {
  color: #1f2937;
}

.home-btn {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #4f46e5;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.home-btn:hover {
  background-color: #4338ca;
  transform: translateY(-2px);
}
